name: Tes Fullstack Apps CI/CD

on:
  pull_request:
    types:
      - closed  # Hanya berjalan saat merge ke main
    branches:
      - main   

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup Golang
        uses: actions/setup-go@v2
        with:
          go-version: '1.24.11'

      - name: Install Dependencies
        run: |
          go mod tidy 

      - name: Deploy to Server
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SSH_HOST: ${{ secrets.SSH_HOST }}
          SSH_USER: ${{ secrets.SSH_USER }}

        run: |
          echo "Installing SSH Client..."
          sudo apt-get install -y openssh-client

          echo "Setting up SSH..."
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -p 22 $SSH_HOST >> ~/.ssh/known_hosts

          echo "Connecting to server and deploying..."
          ssh -o StrictHostKeyChecking=no -p 22 $SSH_USER@$SSH_HOST 'bash -s' << 'EOF'
          set -e
          export PATH=$PATH:/usr/local/go/bin:/home/ubuntu/go/bin
          echo "Verifikasi Go..."
          if ! command -v go &> /dev/null; then
            echo "Go is not installed or not in PATH"
            exit 1
          fi
          go version
          echo "Deploying on server..."
          cd  /var/www/usepgnwan/be-themastersteel
          git pull origin main 
          echo "generate swagger"
          swag init
          echo "Checking dependencies..."
          go mod tidy || { echo "Failed to tidy dependencies"; exit 1; }
          echo "Building project..."
          go build -o main || { echo "Failed to build project"; exit 1; }
          echo "Checking if port 3026 is available..."
          if lsof -i :3026; then
            echo "Port 3026 is in use. Killing existing process..."
            kill -9 $(lsof -t -i:3026) || { echo "Failed to kill existing process"; exit 1; }
          fi
          sleep 5
          echo "Starting application..."
          nohup ./main --port 3026 --host > preview.log 2>&1 &
          APP_PID=$!
          sleep 5 
          # Periksa apakah proses masih berjalan
          if ! ps -p $APP_PID > /dev/null; then
            echo "Failed to start application"
            cat preview.log # Tampilkan log untuk debugging
            exit 1
          fi
          echo "Application started successfully!"
          EOF
